.container{
    background-color: var(--bgSoft);
    position: sticky;
    /* top: 40px; */
}

.imageBanner{
    display: flex;
    flex-direction: row;
    margin: 0 0 20px 0;
    padding: 20px 0 0 20px;
    align-items: center;
}

.avatar{
    margin-right: 10px;
    border-radius: 50%;
}

.name{
    font-weight: bold;
    font-size: 22px;
}

.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 10px;
}
/* 
.sublist{
    padding: 10px;
    display: flex;
    align-items: center;
    height: 20px;
    width: 100%;
    margin: 5px 0;
    border-radius: 10px;
}

.sublist:hover, .active{
    background-color: #2e374a;
} */